<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome to ejs contact page</h1>
    <% arr.map((ele)=>{ %>
       <div style="display: flex; gap: 30px;">
            <p><%= ele.name  %></p>
            <p><%= ele.email  %></p>
        </div>
   <% })  %>
</body>
</html>