<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome to ejs home page</h1>
    <p><b>User Name is </b> <%= obj.name  %></p>
    <p><b>User age is </b> <%= obj.age  %></p>
    <p><b>User course is </b> <%= obj.course  %></p>
    <p>user details is <%=JSON.stringify(obj)  %></p>
</body>
</html>